doctype html
html
    head
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title Registration Form
    body
    div.row.justify-content-center
      div.col-md-6
        div.card-body
        header.card-header
            h4.card-title Register
                //- label Fisrt name
                //- input( name="firstname")
                //- label Last name
                //- input( name="lastname")