doctype html
html(lang="en")
    head
        title Express App
        
        style
          include ../public/css/bootstrap.min.css
       
    body
      div.container-fluid.bg-secondary.mb-4
        div.card-body.text-center
          h3.text-white My first Express App
                 

      block content

      footer
        div.container-fluid.bg-secondary.mt-4
          div.card-body.text-center
              h3.text-white &copy; Phyllis

      script
        include ../public/js/bootstrap.min.js

