doctype html
html(lang="en")
    head
        title Sign UP form
        link(rel='stylesheet', href='../bootsrap/css/bootsrap.css')
        
    body
      block content
    script(src='../bootsrap/css/bootsrap.css')