extends layout

block content

    div.row.justify-content-center
        div.col-md-6
            div.card-body.border
                header.card-header
                    h4.card-title.text-center.pt-1.text-secondary File &amp; Image Uploads
                article.card-body
                    form(method='POST' action="/upload" enctype='multipart/form-data')
                        div.file-field.input-field
                            div.form-row
                                input(type='file', name='myImage' accept='image/*')
                                input.bg-primary(type='submit', value='Upload Image')
                            //- div.form-row.py-4
                            //-     input(type='file', name='myFiles' multiple)
                            //-     input(type='submit', value='Upload Files')
                            div.form-row.py-4
                                input(type='file', name='myFile')
                                input(type='submit', value='Upload File')
                        
                            
                        
                              
    div.row 
        img.responsive-img(src="upload/" + image, alt='image not found')
            //- End of Card-body



                    
                    
            